<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs", {title: "Products"}) %>
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/shop.css">    
</head>

<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    <!-- Header -->

    <div id="bluewards"></div>

    <div id="new-start">
        <div class="new-start1">
            <!-- New Arrivals Dropdown -->
            <button class="dropdown-btn">
                <div class="btn-inside">
                    <div>
                        <div class="above-smallest">NEW ARRIVALS CATEGORY</div>
                        <div class="smallest">Select One to narrow results</div>
                    </div>
                    <div class="plus">+</div>
                </div>
                <hr>
            </button>
            <div class="dropdown-container">
                <div><button><a href="/product/makeup">Makeup New Arrivals</a></button></div>
                <div><button><a href="/product/skincare">Skin Care New Arrivals</a></button></div>
                <div><button><a href="/product/haircare">Hair Care New Arrivals</a></button></div>
                <div><button><a href="/product/facecare">Face Care New Arrivals</a></button></div>
                <div><button>Sun Care New Arrivals</button></div>
            </div>
            <p id="inbetween-dropdown">FILTER PRODUCTS BY</p>
            <!-- Type Dropdown -->
            <button class="dropdown-btn">
                <div class="btn-inside">
                    <div>
                        <div class="above-smallest">Type</div>
                        <div class="smallest">81 available</div>
                    </div>
                    <div class="plus">+</div>
                </div>
                <hr>
            </button>
            <div class="dropdown-container">
                <div><button>Anti-Aging Devices</button></div>
                <div><button>Bath And Body Sets</button></div>
                <div><button>Cleansers</button></div>
                <div><button>Conditioners</button></div>
                <div><button>Deodorants</button></div>
                <div><button>Eye Masks</button></div>
            </div>
            <!-- Brand Dropdown -->
            <button class="dropdown-btn">
                <div class="btn-inside">
                    <div>
                        <div class="above-smallest">Brand</div>
                        <div class="smallest">73 available</div>
                    </div>
                    <div class="plus">+</div>
                </div>
                <hr>
            </button>
            <div class="dropdown-container">
                <div><button><a href="/product/kiehl">Kiehl's Since 1851</a></button></div>
                <div><button><a href="/product/bumble">Bumble And Bumble</a></button></div>
                <div><button><a href="/product/tom">Tom Ford</a></button></div>
                <div><button><a href="/product/chantec">Chantecaille</a></button></div>
                <div><button><a href="/product/111skin">111SKIN</a></button></div>
            </div>
            <!-- Shop By Dropdown -->
            <button class="dropdown-btn">
                <div class="btn-inside">
                    <div>
                        <div class="above-smallest">Shop By</div>
                        <div class="smallest">4 available</div>
                    </div>
                    <div class="plus">+</div>
                </div>
                <hr>
            </button>
            <div class="dropdown-container">
                <div><button>Best Seller</button></div>
                <div><button>Cooming Soon</button></div>
                <div><button>Exclusive</button></div>
                <div><button>Limited Edition</button></div>
            </div>
            <!-- Conscious Beauty Dropdown -->
            <button class="dropdown-btn">
                <div class="btn-inside">
                    <div>
                        <div class="above-smallest">Conscious Beauty</div>
                        <div class="smallest">4 available</div>
                    </div>
                    <div class="plus">+</div>
                </div>
                <hr>
            </button>
            <div class="dropdown-container">
                <div><button>Mindful Ingredients</button></div>
                <div><button>Naturally Derived</button></div>
                <div><button>Vegan And Cruelty Free</button></div>
                <div><button>Wellness</button></div>
            </div>
        </div>
        <!-- Right Section -->
        <div>
            <!-- Right Section Head Part -->
            <div id="right-head">
                <div>NEW ARRIVALS</div>
                <div>
                    <label for="sort">SORT BY</label>
                    <select name="sort" id="sort" onchange="location = this.options[this.selectedIndex].value;">
                        <option value="/product/new" id="newArrivals">New Arrivals</option>
                        <option value="/product/bestseller" id="bestSeller">Best Sellers</option>
                        <option value="/product/low" id="lToH">Price, Low To High</option>
                        <option value="/product/high" id="hToL">Price, High To Low</option>
                    </select>
                </div>
            </div>
            <hr/>
            <!-- Right Section Products -->
            <form id="right-body">
                <% items.forEach(function (item) { %>
                <div onclick="window.location.href = 'productdetails/<%= item._id %>'">
                    <img src="<%= item.image %>" alt="">
                    <p><%= item.brand %></p>
                    <p><%= item.name %></p>
                    <p>$<%= item.price %></p>
                </div>
                <% }) %>
            </form>
        </div>
    </div>
    <hr/>
    
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer -->

</body>

</html>

<script src="/js/new.js"></script>
<script src="/js/header.js"></script>
<script src="/js/shop.js"></script>
