<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs", {title: "Product Details"}) %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/product_details.css">
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body onload="slideShow()">

    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    <!-- Header -->
    <div id="bluewards"></div>

    <div class="one">
        <div class="one_1">
            <!-- <div class="one_1_1">
                <a href="#"><img
                        src=""></a>
                <a href="#"><img
                        src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-3605972610010-2_100x.jpg?v=1629489864"></a>
                <a href="#"><img
                        src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-3605972610010-3_100x.jpg?v=1629489865"></a>
                <a href="#"><img
                        src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-3605972610010-4_100x.jpg?v=1629489865"></a>
                <a href="#"><img
                        src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-3605972610010-5_100x.jpg?v=1629489865"></a>
                <a href="#"><img
                        src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-3605972610010-6_100x.jpg?v=1629489865"></a>
            </div> -->
            <div></div>
            <div>
                <img style="height: 100%;"
                    src="<%= findPro.image %>">
            </div>
            <div></div>
        </div>
        <div class="one_2">
            <div><%= findPro.brand %></div>
            <div><%= findPro.name %></div>
            <div>
                <div>$<%= findPro.price %> ☆☆☆☆☆ (0)</div>
            </div>
            <div><%= findPro.description %> <a href="#" style="color: #12284c;"> See
                    More</a></div>
            <hr>
            <div id="ff">
                <div class="quantity">
                    <button class="minus-btn" type="button" name="button" onclick="remove()">
                        <img src="https://image.flaticon.com/icons/png/128/339/339879.png" alt="" />
                    </button>
                    <input type="text" name="name" value="1">
                    <button class="plus-btn" type="button" name="button" onclick="add()">
                        <img src="https://image.flaticon.com/icons/png/128/864/864380.png" alt="" />
                    </button>
                </div>
                <div></div>
                <div id="bag"><a href="payment.html">ADD TO BAG &nbsp|&nbsp $<%= findPro.price %></a></div>
            </div>
            <div class="hh">4 interest-free payments of $15.00 with <span class="bold">Klarna</span>.<a href="#"> Learn
                    more</a></div>
        </div>
    </div>

    <hr style="width: 70%; margin: auto;">

    <div id="below-product">
        <div>
            <ul class="remove-dot">
                <li>Product Details</li>
                <ul>
                    <%= findPro.details %>
                </ul>
            </ul>
        </div>
    </div>

    <hr style="width: 70%; margin: auto;">
    <!-- New Arrival Slide Show Start -->
    <div id="slide-new-arrival">
        <div id="slide-above">
            <p>BEAUTY LOVERS WHO VIEWED ITEMS YOU BROWSED ALSO VIEWED</p>
        </div>
        <div class="slide-parent">
            <div id="slide-leftarrow" onclick="slideMoveLeft()">
                <button>&lt;</button>
            </div>
            <div class="slide-child" id="sc1">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-color-bliss-656509018215-1.jpg?v=1628929779"
                    alt="">
                <p>CHANTECAILLE</p>
                <p>Skin Moisturizer</p>
                <p>$79</p>
            </div>
            <div class="slide-child" id="sc2">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-194251026169-1_235x235_crop_center.jpg?v=1628195108"
                    alt="">
                <p>NARS</p>
                <p>Climax Eyeshadow Palette</p>
                <p>$49</p>
            </div>
            <div class="slide-child" id="sc3">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-5060506361505-1_235x235_crop_center.jpg?v=1629380313"
                    alt="">
                <p>THE NUE CO</p>
                <p>Destress 360</p>
                <p>$55</p>
            </div>
            <div class="slide-child" id="sc4">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-860006685539-1_235x235_crop_center.jpg?v=1629234653"
                    alt="">
                <p>JENNY PATINKIN</p>
                <p>Cryo Glow Globes</p>
                <p>$70</p>
            </div>
            <div class="slide-child" id="sc5">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-color-air-850004373019-1_235x235_crop_center.jpg?v=1628195030"
                    alt="">
                <p>HOURGLASS</p>
                <p>Curator Eyeshadow</p>
                <p>$29</p>
            </div>
            <div class="slide-child" id="sc6">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-size-85oz-685428028913-1_235x235_crop_center.jpg?v=1627423091"
                    alt="">
                <p>BUMBLE AND BUMBLE</p>
                <p>Blonde Shampoo</p>
                <p>$31</p>
            </div>
            <div class="slide-child" id="sc7">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-size-67oz-685428028944-1_235x235_crop_center.jpg?v=1627422903"
                    alt="">
                <p>BUMBLE AND BUMBLE</p>
                <p>Blonde Conditioner</p>
                <p>$34</p>
            </div>
            <div class="slide-child" id="sc8">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-color-bodyheat-888066094887-1_235x235_crop_center.jpg?v=1629134891"
                    alt="">
                <p>TOM FORD</p>
                <p>Eye Color Quad</p>
                <p>$89</p>
            </div>
            <div id="slide-rightarrow" onclick="slideMoveRight()">
                <button>&gt;</button>
            </div>
        </div>
    </div>
    <!-- New Arrival Slide Show End -->

    <hr style="margin-top: 50px;">

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer -->

</body>
</html>
<script src="/js/header.js"></script>
<script src="/js/product_details.js"></script>
<!-- <script src="js/shop.js"></script> -->